/* Main attribute styling */
main {
  margin-top: 6.2rem;
  margin-left: 15%;
  margin-right: 15%;
}

/* Styling for the body */
body {
  font-family: Arial, Helvetica, sans-serif;
}

.pageTitle {
  margin-bottom: 20px;
}

.pageTitle h1 {
  text-align: start;
  font-weight: 700;
  margin-bottom: 0px;
  font-size: 3rem;
}

.pageTitle p {
  display: block; 
  text-align: start;
  width: 100%; 
  margin-top: 5px; 
  align-content: baseline;
}

.video-container {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

/* Video styling */
.video {
  width: 100%; 
  height: auto; 
  display: block;
}

/* Navbar styling */
nav {
  position: fixed; 
  top: 0; 
  left: 0; 
  right: 0; 
  background-color: #FFDC00; 
  padding: 10px 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000; /* Ensure it's on top of other content */
  transition: all 0.6s ease-in-out; /* Smooth transition for sliding */
}

/* Unordered list (ul) inside the navbar */
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex; 
  gap: 15px; 
}

/* List items in the navbar */
nav li {
  display: inline; 
}

/* Links inside the navbar */
nav a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  color: #000000;
  font-size: 1.75rem;
  font-weight: 700;
  text-decoration: none;
  font-family: inherit;
}

nav a:hover {
  text-decoration: underline;
}

/* Logo image styling */
nav img {
  width: 6.25rem;
  height: 4.45rem;
}

/* Hamburger checkbox and label styling */
#menu-toggle-checkbox {
  display: none; /* Hide the checkbox */
}

#menu-toggle-label {
  display: none; /* Initially hide the label */
  font-size: 1.75rem;
  cursor: pointer;
  color: #000000;
  padding: 0;
  margin: 0;
  font-weight: 700;
}

#menu-toggle-label:hover {
  text-decoration: underline;
}

/* Tablet and mobile view */
@media (max-width: 768px) {
  nav {
    flex-direction: column; 
    align-items: flex-start; 
  }

  #menu-toggle-label {
      display: block; 
      position: absolute;
      right: 20px; 
      top: 10px;
  }

  nav ul {
    display: none; 
    flex-direction: column; 
    width: 100%; 
    padding: 0;
    margin: 10px 0 0 0; 
    list-style-type: none;
    align-items: flex-start;
  }

  /* Show the menu when checkbox is checked */
  #menu-toggle-checkbox:checked + #menu-toggle-label + ul {
    display: flex; /* Show the menu */
  }

  nav ul li {
    width: 100%; 
  }

  nav ul li a {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: left; 
    border-bottom: 1px solid #000000; 
  }

  nav img {
    width: 3rem;
    height: 2rem;
  }
}

/* Mobile view */
@media (max-width: 480px) {
  nav ul {
    width: 100%; 
    gap: 0; 
  }

  nav ul li a {
    padding: 10px 12px; 
  }

  nav img {
    width: 2.5rem; 
    height: 1.75rem;
  }
}
